/*Temas*/
.light{
    --bg: #d8d8d8;
    --fcolor: #264351;
    --hover-bg: #73ca9c;
    --hover-fcolor: coral;
    --passed: #009688;
    --failed: crimson;
}

.dark{
    --bg: #264351;
    --fcolor: #d8d8d8;
    --hover-bg: coral;
    --hover-fcolor: #73ca9c;
    --passed: #73ca9c;
    --failed: crimson;
}

/*Estilos*/

#navbar-desktop, #navbar-mobile {
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    position: fixed;
    bottom: 0;
    background-color: var(--fcolor) !important;
    z-index: 1;
    max-height: 12%;
}

#navbar-desktop a, #navbar-mobile a {
    color: var(--bg);
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    width: 100%;
    display: block;
}

#navbar-desktop > div > a:hover {
    color: var(--fcolor);
}

/*#navbar-desktop div, #navbar-mobile div {
    border-radius: 6px;
}*/

#navbar-desktop div:hover, #navbar-mobile div:hover {
    background-color:  var(--hover-bg);
    color: var(--hover-fcolor);
}

#navbar-mobile > div > a > img {
    max-width: 70%;
    width: auto;
    vertical-align: middle;
    padding: 1vh 0 1vh 2.6vw;
}

#navbar-mobile > div {
    padding: 0 0 0 0;
}

#textoNormal:hover{
    background-color: var(--fcolor) !important;
    color: var(--bg) !important;
}

#textoNormal a:hover{
    background-color: var(--fcolor) !important;
    color: var(--bg) !important;
}

#seleccionado {
    background-color:  var(--hover-bg);
}

#botonDeSeleccion {
    white-space: inherit;
    background-color: var(--fcolor);
    border-color:var(--fcolor);
    font-family: 'Ubuntu', sans-serif;
    box-shadow: none;
    height: inherit;
    font-size: 1.9rem;
    background-color:var(--hover-bg);
    border-color: var(--hover-bg);
    padding-left: 0;
    padding-right: 0;
}

#opciones {
    background-color: var(--fcolor);
    color: var(--bg);
}

#opciones a:hover {
    background-color:  var(--hover-bg) !important;
    color: var(--hover-fcolor) !important;
}

.dropup {
    height: 100%;
    background-color:var(--hover-bg);
    color:var(--hover-fcolor);
}

/*Cambio de barra de navegacion al cambiar el tamaño de pantalla*/
@media (min-width: 801px) {
    #navbar-mobile {
        display: none;
    }
  }


@media (max-width: 800px)/* and (max-height: 850px) */{
    #navbar-desktop {
        display: none;
    }

    /*.col {
        max-width: 36% !important;
    }*/
  }