/*Estilos*/

/*html{
    background-color: var(--bg) !important;
    color: var(--fcolor) !important;
}*/

body {
    display: inline-block;
    z-index: 0;
    width: 98vw;
    height: 100vh;
    background-color: var(--bg) !important;
    color: var(--fcolor) !important;
}

#cuerpo {
    background-color: var(--bg);
    color: var(--fcolor);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
    align-content: center;
    padding-top: 1rem;
    z-index: 1;
    display: inline-block;
    width: 100%;
    /*position: relative;*/
}

h1 {
    color: #73ca9c !important;
    border: 1px solid var(--fcolor);
    font-family: 'Ubuntu Mono', monospace;
}

#creadorTabla {
    overflow: hidden;
    float: left;
    padding-left: 3%;
}

.botonesDeSpinner {
    width: 100%;
    border: none;
    background-color: inherit;
    color: var(--bg);
    font-size: x-large; 
    font-weight: bold;
    padding: 0 0 0 0;
}

#spinner > tbody > tr > td {
    background-color: var(--fcolor);
    border-color: var(--fcolor);
}

#numeroDeClases {
    float: left;
    color: var(--bg);
    background-color: var(--fcolor);
    /*max-width: 100%;*/
    /*width: 4.3rem;*/
    height: auto;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 0rem;
    padding-right: 0rem;
    /*border-radius: 6px;
    border-color: #264351;*/
}

.form-control::-webkit-inner-spin-button, 
.form-control::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-control {
    -moz-appearance:textfield; /* Firefox */
    text-align: center;
    float: left;
}

#tabla {
    border: 1px solid var(--fcolor) !important;
}

#tabla > thead > tr > th{
    border: 1px solid var(--fcolor) !important;
    background-color: var(--fcolor);
    color: var(--bg);
    text-align: center;
}

#tabla > tbody > tr > td {
    border: 1px solid var(--fcolor) !important;
    padding: 0 0 0 0;
}

#tabla > tbody > tr > td > input{
    background-color: transparent;
    color: var(--fcolor);
    font-family: 'Victor Mono', monospace;
    padding: 0 0 0 0;
    max-width: 99%;
    border: 0;
}

#terminacion {
    color: var(--fcolor);
}

#tabla > tbody > tr{
    -webkit-animation: scale-up-ver-top 0.6s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
	animation: scale-up-ver-top 0.6s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
}

#resultados {
    color: var(--fcolor);
    animation: slide-up 1.0s ease;
    display: none;
}

#resultados > table {
    float: right;
}

#resultados > table > tbody > tr > td {
    border: none;
}

#resultados > table > tbody > tr > td > p {
    color: var(--fcolor);
    font-size: 1.6rem;
    font-style: italic;
    font-weight: bold;
    font-family: 'Victor Mono', monospace;
    text-align: left;
}

#botonCalcular {
    background-color: var(--fcolor);
    color: var(--bg);
    border-radius: 6px;
    border-width: 2px;
    border-color: var(--fcolor);
    font-size: 1.2rem;
}

#botonCalcular:hover {
    background-color: cadetblue;
    color: var(--fcolor);
    border-radius: 6px;
    border-width: 2px;
    border-color: cadetblue;
    font-size: 1.2rem;
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#indice {
    background-color: var(--bg);
    border-color: var(--fcolor);
    color: var(--fcolor);
    border-width: 2px;
    font-weight: bold;
}

#indiceRedondeado {
    background-color: var(--bg);
    color: var(--fcolor);
    border-color: coral;
    border-width: 2px;
    font-weight: bold;
    -webkit-animation: shadow-pop-br 0.8s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: shadow-pop-br 0.8s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

#titulo {
    border: 1px solid var(--fcolor);
    border-radius: 6px;
    -webkit-animation: shadow-pop-br 0.8s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: shadow-pop-br 0.8s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] {
    -moz-appearance:textfield; /* Firefox */
}

#miscelaneos > table {
    float: right;
}

#miscelaneos > table > tbody > tr > td {
    border: none;
}

#miscelaneos > table > tbody > tr > td > p {
    font-size: 1.2rem;
    font-style: italic;
    font-family: 'Victor Mono', monospace;
    /*text-align: left;*/
}

#guardar {
    background-color: var(--fcolor);
    color: var(--bg);
    border-radius: 6px;
    border-width: 2px;
    border-color: var(--fcolor);
    font-size: 1.2rem;
}

#fileNameInput {
    background-color: var(--bg);
    color: var(--fcolor);
    border: 1px solid #5f9ea0 !important;
}

.botones, label {
    cursor: pointer; /* "hand" cursor */
    font-size: 1.25em;
    font-weight: 700;
    font-style: italic;
    color: var(--fcolor);
    background-color: cadetblue;
    border-radius: 6px;
}

.botones:hover, label:hover {
    cursor: pointer; /* "hand" cursor */
    font-size: 1.25em;
    font-weight: 700;
    font-style: italic;
    border-radius: 6px;
    -webkit-animation: shadow-pop-br 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: shadow-pop-br 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

#logged-in {
    border: 3px solid var(--fcolor);
    border-radius: 6%;
    
    -webkit-animation: slide-fwd-center 0.6s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
	animation: slide-fwd-center 0.6s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}

#usuario {
    font-family: 'Victor Mono', monospace;
    color: coral;
    font-style: italic;
}

#fotoDePerfil {
    border-radius: 50%;
    border: 5px solid var(--fcolor);

    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-15 19:17:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }

  /**
 * ----------------------------------------
 * animation shadow-pop-br
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-br {
    0% {
      -webkit-box-shadow: 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor);
              box-shadow: 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor);
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px 1px var(--fcolor), 2px 2px var(--fcolor), 3px 3px var(--fcolor), 4px 4px var(--fcolor), 5px 5px var(--fcolor), 6px 6px var(--fcolor), 7px 7px var(--fcolor), 8px 8px var(--fcolor);
              box-shadow: 1px 1px var(--fcolor), 2px 2px var(--fcolor), 3px 3px var(--fcolor), 4px 4px var(--fcolor), 5px 5px var(--fcolor), 6px 6px var(--fcolor), 7px 7px var(--fcolor), 8px 8px var(--fcolor);
      -webkit-transform: translateX(-8px) translateY(-8px);
              transform: translateX(-8px) translateY(-8px);
    }
  }
  @keyframes shadow-pop-br {
    0% {
      -webkit-box-shadow: 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor);
              box-shadow: 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor), 0 0 var(--fcolor);
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px 1px var(--fcolor), 2px 2px var(--fcolor), 3px 3px var(--fcolor), 4px 4px var(--fcolor), 5px 5px var(--fcolor), 6px 6px var(--fcolor), 7px 7px var(--fcolor), 8px 8px var(--fcolor);
              box-shadow: 1px 1px var(--fcolor), 2px 2px var(--fcolor), 3px 3px var(--fcolor), 4px 4px var(--fcolor), 5px 5px var(--fcolor), 6px 6px var(--fcolor), 7px 7px var(--fcolor), 8px 8px var(--fcolor);
      -webkit-transform: translateX(-8px) translateY(-8px);
              transform: translateX(-8px) translateY(-8px);
    }
  }

 /**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }

  /**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }