
#informacion {
    background-color: #d8d8d8;
    color: #264351;
    font-family: 'Victor Mono', monospace;
    text-align: center;
    text-decoration: none;
    /*font-style: italic;*/
    font-weight: bold;
}

h2{
    font-style: italic;
    font-weight: bold;
}

table {
    text-align: left;
}

table tbody tr td a {
    color: #264351;
    text-decoration: none;
}

table tbody tr td a:hover {
    color: coral;
}