body{
    background-color: var(--bg) !important;
    color: var(--fcolor) !important;
}


#informacion {
    background-color: var(--bg) !important;
    color: var(--fcolor) !important;
    font-family: 'Victor Mono', monospace;
    text-align: center;
    text-decoration: none;
    /*font-style: italic;*/
    font-weight: bold;
}

h2{
    font-style: italic;
    font-weight: bold;
}

table {
    text-align: left;
}

table tbody tr td a {
    color: var(--fcolor);
    text-decoration: none;
}

table tbody tr td a:hover {
    color: var(--hover-fcolor);
}