body {
    display: inline-block;
    z-index: 0;
    width: 98vw;
    height: 100vh;
}

#cuerpo {
    background-color: #d8d8d8;
    color: #264351;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
    align-content: center;
    padding-top: 1rem;
    z-index: 1;
    display: inline-block;
    width: 100%;
    /*position: relative;*/
}

h1 {
    color: #73ca9c !important;
    border: 1px solid #264351;
    font-family: 'Ubuntu Mono', monospace;
}

#creadorTabla {
    overflow: hidden;
    float: left;
    padding-left: 3%;
}

.botonesDeSpinner {
    width: 100%;
    border: none;
    background-color: inherit;
    color: #d8d8d8;
    font-size: x-large; 
    font-weight: bold;
    padding: 0 0 0 0;
}

#spinner > tbody > tr > td {
    background-color: #264351;
    border-color: #264351;
}

#numeroDeClases {
    float: left;
    color: #d8d8d8;
    background-color: #264351;
    /*max-width: 100%;*/
    width: 4.3rem;
    height: auto;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 0rem;
    padding-right: 0rem;
    /*border-radius: 6px;
    border-color: #264351;*/
}

.form-control::-webkit-inner-spin-button, 
.form-control::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-control {
    -moz-appearance:textfield; /* Firefox */
    text-align: center;
    float: left;
}

#tabla {
    border: 1px solid #264351 !important;
}

#tabla > thead > tr > th{
    border: 1px solid #264351 !important;
    background-color: #264351;
    color: #d8d8d8;
    text-align: center;
}

#tabla > tbody > tr > td {
    border: 1px solid #264351 !important;
    padding: 0 0 0 0;
}

#tabla > tbody > tr > td > input{
    background-color: #d8d8d8 !important;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] {
    -moz-appearance:textfield; /* Firefox */
}